@import 'reset';

$theme-color: #026160;
$body-background-color: #8fa3b5;
$bar-background-color: #ffffff;
$bar-text-color: #222222;

$content-background-color: #d4ddd6;
$opacity: 0.7;

$border: solid 2px $body-background-color;

$screen-width-treshhold: 500px;


body {
	margin: 0;
	padding: 0;
	background: $body-background-color;
	font-family: Verdana;
}

p {
	line-height: 18px;
	display: block;
	margin-bottom: 1em;
	font-size: 13px;
}

a {
	text-decoration: none;
	color: $theme-color;
	opacity: $opacity;
}

a:hover {
	text-decoration: underline;
}

.highlight {
	color: $theme-color;
	font-weight: bold;
}

.lowlight {
	opacity: $opacity;
}

.container {
	text-align: center;
	max-width: 950px; 
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}

header {
	padding: 10px;

	@media screen and (max-width: 460px) {
		padding: 16px;
	}

	text-align: right;
	background-color: $content-background-color;

	border-bottom: $border;

	img {
		height: 100px;

		@media screen and (max-width: $screen-width-treshhold) {
			height: 50px;
		}
	}

	.title {
		font-size: 42px;

		@media screen and (max-width: $screen-width-treshhold) {
			font-size: 30px;
		}
	}

	.description {
		padding-top: 10px;
		font-size: 18px;
	}
}

.bar {
	padding: 4px;
	padding-right: 16px;
	background-color: $bar-background-color;
	color: $bar-text-color;
	font-size: 10px;
	text-align: right;

	ul {
		list-style-type: none;
		margin-top: 1em;
		margin-bottom: 1em;

		li {
			display: inline;
			white-space: nowrap;
			@media screen and (max-width: $screen-width-treshhold) {
				display: block;
			}
		}
	}
}

.narrow {
	@media screen and (max-width: $screen-width-treshhold) {
		display: inherit;
	}
	@media screen and (min-width: $screen-width-treshhold + 1) {
		display: none;
	}

}

.wide {
	@media screen and (max-width: $screen-width-treshhold) {
		display: none;
	}
	@media screen and (min-width: $screen-width-treshhold + 1) {
		display: inherit;
	}

}

.content {
	font-size: 18px;
	background-color: $content-background-color;
	min-height: 200px;
	padding: 30px;

	@media screen and (max-width: $screen-width-treshhold) {
		padding: 16px;

	}

	text-align: left;
	border-top: $border;
	border-bottom: $border;

	.title {
		padding-bottom: 5px;
	}
}

h1 {
	font-size: 20px;
	color: $theme-color;
}

h2 {
	font-size: 13px;
	font-weight: bold;
	color: $theme-color;
}

.category {
	color: $theme-color;
	font-size: 10px;
	margin-top: 10px;
}

.tool {
	font-size: 12px;
	margin-left: 0;
	line-height: 150%;

	ul {
		list-style-type: none;
		margin: 3px;
		padding: 0;

		li:after {
			color: $theme-color;
			content: ",";
		}

		li:last-child:after {
			content: "";
		}

		li {
			display: inline;
		}
	}
}